<%- include('partial/header.ejs') %>
<div class="admin-site-menu-con">
    <div class="menu-con-div">
        <div id="admin_menu_add" class="menu-con-div-btn">
            Add <i class="fas fa-plus-circle"></i>
        </div>
        <select id="menu_select" class="menu-con-div-select">
            
        </select>
        <div class="menu-con-div-btn">
            <i class="fas fa-search"></i>
            <input type="text" id="" placeholder="Search by name">
        </div>
    </div>
    <div id="menu_list" class="menu-con-div  menu-con-list">
        
    </div>
</div>
<script src="js/admin_site_menu.js"></script>