<%- include('partial/header.ejs') %>
<div class="admin-site-con">
    <div class="admin-site-con-div">
        <h2>Admin Account Information</h2>
    </div>
    <div class="admin-site-icon">
        <i id="admin_logout" class="fas fa-1.5x fa-sign-out-alt"></i>
        <i id="admin_edit" class="fas fa-1.5x fa-user-edit"></i>
    </div>
    <div class="admin-site-con-div">
        <img id="admin_image" src="" alt="" srcset="">
        <div class="admin-site-div">
            <div>
                <h3>Shop ID: </h3>
                <p id="admin_id">ID</p>
            </div>
            <div>
                <h3>Shop Name: </h3>
                <p id="admin_name">name</p>
            </div>
            <div>
                <h3>Shop Cuisine: </h3>
                <p id="admin_cuisine">Cuisine</p>
            </div>
            <div>
                <h3>Shop Operating Hour: </h3>
                <p id="admin_hour">name</p>
            </div>
        </div>
    </div>
</div>

<script src="js/admin_site.js"></script>