<%- include('partial/header.ejs') %>
<div class="generate-con">
    <div class="generate-con-div">
        <div id="add_table">Add a table <i class="fas fa-plus-circle"></i></div>
        <div id="print">Print <i class="fas fa-print"></i></div>
        <div>2 pac * 2</div>
    </div>
    <div id="restaurant-con" class="generate-con-div-qr">
        <h2>Restaurant</h2>
        <div class="con-div-qr">
            <div id="restaurant"></div>
            <h4 id="restaurant_name"></h4>
        </div>
    </div>
    <div class="generate-con-div-qr">
        <h2>Table No</h2>
        <div class="con-div-qr-div">
            <div class="con-div-qr">
                <div id="table-no"></div>
                <h4>Burger Shop</h4>
            </div>
        </div>
    </div>
</div>
<script src="js/qrcode.min.js"></script>
<script src="js/admin_generate.js"></script>