<%- include('partial/header.ejs') %>
<div class="login-signup-con">
    <h3>Sign Up To be Our New Restaurant now !!!</h3>
    <div class="login-signup-div">
        <button id="admin_login">Login</button>
        <button id="admin_signUp">Sign Up</button>
    </div>
</div>
<script src="js/admin.js"></script>
