<div class="small-login-con">
    <form action="" class="login-con">
        <label for="">Username:</label>
        <input type="text" id="admin_username" placeholder="Enter your username">
        <label for="">Password:</label>
        <input type="password" id="admin_password" placeholder="Enter your password">
        <button type="button" id="admin_login">Login</button>
    </form>
</div>
<script src="js/admin_login.js"></script>