*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../img/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*-----------------*/
/*|    Header     |*/
/*-----------------*/
.header-container{
    width: 100%;
    height: auto;
    padding: 10px 50px;
    opacity: 0.8;
    background-color: white;
    display: flex;
    position: relative;
}
.header-container img{
    width: 120px;
    height: 120px;
    cursor: pointer;
}
.header-container div{
    position: absolute;
    right: 0;
    bottom: 10px;
}
.header-container div ul{
    display: flex;
    list-style: none;
}
.header-container div ul li{
    width: auto;
    height: auto;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
}
.header-container div ul li:hover{
    font-weight: bold;
}
/*-----------------*/
/*| Login/signup  |*/
/*-----------------*/
.login-signup-con{
    widows: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.login-signup-div{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-signup-con button{
    width: auto;
    height: 40px;
    padding: 0px 20px;
    margin: 0 20px;
    background-color: white;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}
/*-----------------*/
/*|    Login      |*/
/*-----------------*/
.small-login-con{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.login-con{
    width: 270px;
    height: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.login-con input{
    width: 150px;
    height: 30px;
    padding: 0 5px;
}
.login-con input:focus{
    outline: none;
}
.login-con input, .login-con label{
    margin: 10px 5px;
}
.login-con button{
    width: auto;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: white;
    margin-top: 10px;
    cursor: pointer;
    padding: 5px 20px;
}
.login-con button:focus{
    outline: none;
    border: 2px solid black;
}
/*-----------------*/
/*|    Sign Up     |*/
/*-----------------*/
.signup-con{
    width: 350px;
}
.signup-con select{
    width: 150px;
    height: 30px;
    padding: 0 5px;
}
/*-----------------*/
/*|   Admin Site   |*/
/*-----------------*/
.admin-site-con{
    width: 100%;
    height: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin-site-con-div{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.admin-site-con img{
    width: 150px;
    height: 150px;
    border-radius: 30px;
    margin-top: 30px;
}
.admin-site-div{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.admin-site-div div{
    width: 50%;
    height: auto;
    padding: 30px 50px;
}
.admin-site-div div p{
    font-size: medium;
}
.admin-site-icon{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.7;
    border-radius: 20px;
    padding: 10px 20px;
}
.admin-site-icon i{
    padding: 10px;
    color: black;
    cursor: pointer;
    opacity: 1.0;
    border-radius: 15px;
    margin: 0 5px;
}
.admin-site-icon i:hover{
    background-color: wheat;
}
/*------------------------*/
/*|   Admin Site - Menu   |*/
/*------------------------*/
.admin-site-menu-con{
    width: 100%;
    height: auto;
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
}
.menu-con-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.menu-con-div-btn, .menu-con-div-select{
    width: fit-content;
    height: auto;
    padding: 15px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    border: none;
    margin: 0 20px;
}
.menu-con-div-select:focus{
    outline: none;
}
.menu-con-div-btn input{
    outline: none;
    border: none;
    transition: 0.5s ease-out;
}
.menu-con-div-btn input:focus{
    width: 200px;
}
.menu-con-div-btn i{
    margin: 0 5px;
}
.menu-con-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.menu-con-div-list{
    width: 15%;
    height: auto;
    border-radius: 20px;
    background-color: white;
    position: relative;
    margin: 20px;
}
.menu-con-div-list img{
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.div-list-btn{
    width: 100%;
    height: 30px;
    display: flex;
    position: absolute;
    top: 170px;
    opacity: 0.7;
}
.div-list-btn button{
    width: 50%;
    height: 100%;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
}
.div-list-btn button:hover{
    background-color: wheat;
}
.div-list-div{
    padding: 0 10px 10px 10px;
}
.div-list-div p{
    margin-top: 5px;
}


@media screen and (max-width: 1160px){
    .admin-site-div{
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
    }
    .admin-site-div div{
        width: 100%;
    }
}
@media screen and (max-width: 1000px){
    .header-container img{
        width: 110px;
        height: 110px;
    }
    .header-container div ul li{
        padding: 10px;
        border-radius: 25px;
    }
}
@media screen and (max-width: 900px){
    .header-container img{
        width: 105px;
        height: 105px;
    }
    .header-container div ul li{
        padding: 5px;
        border-radius: 20px;
        font-size: large;
    }
}
@media screen and (max-width: 800px){
    .header-container img{
        width: 100px;
        height: 100px;
    }
    .header-container{
        padding: 10px 30px;
    }
    .header-container div ul li{
        padding: 5px;
        border-radius: 20px;
        font-size: medium;
    }
}
@media screen and (max-width: 700px){
    .header-container img{
        width: 95px;
        height: 95px;
    }
    .header-container{
        padding: 10px;
    }
    .header-container div ul li{
        padding: 5px;
        border-radius: 15px;
        font-size: small;
    }
}