<div class="header-container">
    <img id="home" src="img/logo.jpeg" alt="" srcset="">
    <div class="header-navbar">
        <ul>
            <li id="menu">View Menu</li>
            <li id="order">View Order</li>
            <li id="table">View Booking Table</li>
            <li id="qr_code">Generate QR Code</li>
            <li id="transaction">View Transaction</li>
        </ul>
    </div>
</div>
<script src="js/header.js"></script>