<div class="header-container">
    <img src="img/logo.jpeg" alt="" srcset="">
    <div class="header-navbar">
        <ul>
            <li>View Menu</li>
            <li>View Order</li>
            <li>View Booking Table</li>
            <li>Generate QR Code</li>
            <li>View Transaction</li>
        </ul>
    </div>
</div>