<div class="small-login-con">
    <form action="" class="login-con signup-con">
        <label for="">Restaurant Name:</label>
        <input type="text" id="admin_restaurant" placeholder="Restaurant Name">
        <label for="">Restaurant Cuisine:</label>
        <select id="admin_cuisine">
            <option value="Chinese">Chinese</option>
            <option value="Eastern">Eastern</option>
            <option value="Indian">Indian</option>
            <option value="Malay">Malay</option>
            <option value="Japanese">Japanese</option>
            <option value="Korean">Korean</option>
        </select>
        <label for="">Image Address</label>
        <input type="text" id="admin_image" placeholder="Restaurant Image Address">
        <label for="">Operating Hour</label>
        <input type="time" id="admin_open_time">
        <label for="">Closure Hour</label>
        <input type="time" id="admin_close_time">
        <button type="button" id="admin_update">Update Information</button>
    </form>
</div>
<script src="js/admin_info_update.js"></script>